#bottom-nav {
  li {
    a {
      font-size: .8em;
    }
  }
  #stay-connected {
    font-size: .9em;
    line-height: .9em;
    i {
      font-size: 1.2em;
    }
  }
}
footer {
  div {
    font-size: .65em;
  }
}