.hero-slider {
  .right-border-saw {
    background: url('../img/SAW-hero-border.png') right center no-repeat;
    background-size: 100% 100%;
    max-width: 625px;
  }
  .first-title {
    font-size: 1.8em;
    font-family: $open-sans-condensed;
    font-weight: bold;
  }
  .quote {
    border-left: .2em;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    &.white {
      border-color: #000;
    }
    &.orange {
      border-color: map-get($theme-colors, "orange");
    }
    font-size: 2.1em;
    line-height: 1em;
    font-family: $open-sans-condensed;
    font-weight: bold;

  }
  .extra-text {
    font-size: .8em;
    line-height: 1.3em;
    margin-right: -2em;
    font-family: $open-sans;
  }
  .read-more {
    a {
      border: 2px;
      border-style: solid;
      border-radius: 10px;
    }
  }
  .bg-gradient-black {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.8421743697478992) 0%, rgba(0,0,0,0.6096813725490196) 69%, rgba(0,0,0,0) 100%);
  }
  @media screen and (max-width: 576px) {
    .slide-container {
      height: 250px;
    }
  }
  @media screen and (min-width: 576px) {
    .slide-container {
      height: fit-content;
    }
  }
}