nav#top-nav {
  a {
    text-transform: uppercase;
    font-size: .8em;
  }
  div.border-right.border-silver-gray {
    height: 1.3em;
  }
  i.fa {
    font-size: 1.6em;
  }
}

#mid-nav {
  li a {
    text-transform: uppercase;
  }
}